@import 'bootstrap/scss/bootstrap';
@import './card.scss';
@import './modal.scss';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
.container {
  display: flex;
  justify-content: center;
}

.trello {
  width: 100%;
  height: 100vh;
}
.trello__information {
  border: 1px solid purple;
  background: rgb(236, 102, 236);
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}
.trello__name {
  margin: 20px;
}
.trello__time {
  margin: 20px;
}

.trello__container {
  display: flex;
  justify-content: space-between;
}

.trello__item {
  width: 33%;
  height: 90vh;
  position: relative;
}

.trello__item-top {
  border: 1px solid greenyellow;
  background: rgb(157, 214, 71);
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.trello__item-top p {
  margin: 5px;
}

.trello__item-bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border: 0;
}

.trello__button {
  background: green;
  color: white;
  width: 100%;
}

.trello__button:hover {
  background: white;
  border: 1px solid green;
  color: black;
}

.trello-delete-all {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border: 0;
}
