.card {
}
.card-body {
}
.card-title {
}
.card-text {
}

.card-bottom {
  display: flex;
  justify-content: space-between;
}

.card-management {
  display: flex;
  justify-content: space-between;
  .card-management-button {
    border: 3px solid grey;
    border-radius: 5px;
    background: white;
  }
  select {
    // border: 3px solid grey;
    // border-radius: 5px;
    // background: white;
    width: 33%;
  }
}

.card__container {
  max-height: 540px;
  overflow: auto;
}
