.trello__done {
  .trello__item-top {
    background: rgb(153, 255, 102);
  }
  .card-body {
    background: rgba(153, 255, 102, 0.5);
    button {
      background: white;
      border: 1px solid rgba(153, 255, 102, 0.5);
    }
    .form-select {
      background-color: white;
      border: 1px solid rgba(153, 255, 102, 0.5);
    }
  }
}
.trello__card-container-done {
  max-height: 80vh;
  overflow: auto;
}
