.modal {
  input {
    width: 100%;
  }
  textarea {
    width: 100%;
  }
}
.fade {
}
.modal-dialog {
}
.modal-content {
}
.modal-header {
}
.btn-close {
}
.modal-body {
}
.modal-footer {
  justify-content: space-around;
}

.modal-footer {
  * {
    width: 25%;
  }
}

.form-select {
}
.btn {
}
.btn-secondary {
}
.btn-primary {
}
